{erl_opts, [{i, "include"}, {parse_transform, lager_transform}]}.

{lib_dirs, ["deps"]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}}
]}.
