{erl_opts, [{parse_transform, lager_transform}]}.

{lib_dirs, ["deps"]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire,[{dir,"."}]}}]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}}
]}.
