<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="app-a">A</th>
                    <th class="app-doublelabel">&nbsp;</td>
                    <th class="app-b">B</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="app-a">
                        <select class="app-runs">
                            {{#runs}}
                            <option value="{{name}}">{{name}}</option>
                            {{/runs}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Run</td>
                    <td class="app-b">
                        <select class="app-runs">
                            {{#runs}}
                            <option value="{{name}}">{{name}}</option>
                            {{/runs}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="app-a">
                        <select class="app-modules">
                            {{#modules}}
                            <option value="{{name}}">{{name}}</option>
                            {{/modules}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Module</td>
                    <td class="app-b">
                        <select class="app-modules">
                            {{#modules}}
                            <option value="{{name}}">{{name}}</option>
                            {{/modules}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="app-a">
                        <select class="app-tests">
                            {{#tests}}
                            <option value="{{name}}">{{name}}</option>
                            {{/tests}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Test</td>
                    <td class="app-b">
                        <select class="app-tests">
                            {{#tests}}
                            <option value="{{name}}">{{name}}</option>
                            {{/tests}}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>A</th>
                    <th>B</th>
                    <th>B - A</th>
                </tr>
            </thead>
            <tbody>
                {{#numbers}}
                <tr>
                    <td>{{series}}</td>
                    <td>{{A}}</td>
                    <td>{{B}}</td>
                    <td>{{delta}}</td>
                </tr>
                {{/numbers}}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{#commits}}
        <p>Commit {{id}} {{shortDescription}}</p>
        {{/commits}}
    </div>
</div>

