<div class="row-fluid">
    <div class="span12">
        <h2><span class="label">test case comparison</span> versus</h2>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="app-a">A</th>
                    <th class="app-doublelabel">&nbsp;</td>
                    <th class="app-b">B</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="app-a">
                        <select id="runA" class="app-runs">
                            {{#runs}}
                            <option value="{{id}}">{{id}}</option>
                            {{/runs}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Build</td>
                    <td class="app-b">
                        <select id="runB" class="app-runs">
                            {{#runs}}
                            <option value="{{id}}">{{id}}</option>
                            {{/runs}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="app-a">
                        <select id="moduleA" class="app-modules">
                            {{#modulesA}}
                            <option value="{{name}}">{{name}}</option>
                            {{/modulesA}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Module</td>
                    <td class="app-b">
                        <select id="moduleB" class="app-modules">
                            {{#modulesB}}
                            <option value="{{name}}">{{name}}</option>
                            {{/modulesB}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="app-a">
                        <select id="testA" class="app-tests">
                            {{#testsA}}
                            <option value="{{name}}">{{name}}</option>
                            {{/testsA}}
                        </select>
                    </td>
                    <td class="app-doublelabel">Test case</td>
                    <td class="app-b">
                        <select id="testB" class="app-tests">
                            {{#testsB}}
                            <option value="{{name}}">{{name}}</option>
                            {{/testsB}}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>A</th>
                    <th>B</th>
                    <th>B - A</th>
                </tr>
            </thead>
            <tbody>
                {{#numbers}}
                <tr>
                    <td>{{series}}</td>
                    <td>{{A}}</td>
                    <td>{{B}}</td>
                    <td>{{delta}}</td>
                </tr>
                {{/numbers}}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{#commits}}
        <p>Commit {{id}} {{shortDescription}}</p>
        {{/commits}}
    </div>
</div>
