<h2><span class="label">project</span> <span id="project-name">{{project.name}}</span></h2>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Commit</th>
            <th>Started</th>
            <th>Success</th>
            <th>Time delta</th>
            <th>Time</th>
            <th>Modules</th>
            <th>Tests</th>
        </tr>
    </thead>
    <tbody id="runs">
        {{#runs}}
        {{> logRun}}
        {{/runs}}
    </tbody>
</table>
