<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav app-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Projects</li>
                {{#projects}}
                {{#opened}}
                <li class="active"><a href="/project/{{id}}">{{title}}</a></li>
                {{/opened}}
                {{^opened}}
                <li><a href="/project/{{id}}">{{title}}</a></li>
                {{/opened}}
                {{/projects}}
                <li class="nav-header">Actions</li>
                <li><a href="/project/add"><i class="icon-plus-sign"></i> Add</a></li>
                <li><a href="/project/{{currentId}}/edit"><i class="icon-edit"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <h2>Run history of {{project.title}}</h2>
        <svg id="bullet" style="height:80px"></svg>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Started</th>
                    <th>Duration delta</th>
                    <th>Duration</th>
                    <th>Modules</th>
                    <th>Tests</th>
                </tr>
            </thead>
            <tbody>
                {{#runs}}
                <tr data-id="{{id}}" class="app-clickablerow">
                    <td>{{id}}</td>
                    <td>{{started}}</td>
                    <td>{{durationDelta}}</td>
                    <td>{{duration}}</td>
                    <td>{{modules}}</td>
                    <td>{{tests}}</td>
                </tr>
                {{/runs}}
            </tbody>
        </table>
    </div>
</div>
