<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" value="{{project.name}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repo_url">Git repository URL</label>
                <div class="controls">
                    <input type="text" id="repo_url" value="{{project.repo_url}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="branch">Branch</label>
                <div class="controls">
                    <input type="text" id="branch" value="{{project.branch}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ondemand">On demand</label>
                <div class="controls">
                    {{#project.ondemand}}
                    <input type="checkbox" id="ondemand" checked="checked">
                    {{/project.ondemand}}
                    {{^project.ondemand}}
                    <input type="checkbox" id="ondemand">
                    {{/project.ondemand}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="time">Polling interval</label>
                <div class="controls">
                    {{#project.ondemand}}
                    <input disabled="disabled" type="text" id="time" value="{{project.polling_strategy.time}}">
                    {{/project.ondemand}}
                    {{^project.ondemand}}
                    <input type="text" id="time" value="{{project.polling_strategy.time}}">
                    {{/project.ondemand}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Build instructions</label>
                <div class="controls">
                    {{#project.build_instructions}}
                    {{> build_instruction}}
                    {{/project.build_instructions}}
                    <button class="app-add" type="button"><i class="icon-plus"></i></button>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{action}}</button>
            </div>
        </form>
    </div>
</div>
