<div class="span12">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" id="title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url">Git repository URL</label>
            <div class="controls">
                <input type="text" id="url">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
