<div class="row-fluid">
    <h2><span class="label">test</span> {{moduleName}} : {{testName}}</h2>
</div>
<div class="row-fluid">
    <div class="span6">
        <svg id="g-time" style="height:280px"></svg>
    </div>
    <div class="span6">
        <svg id="g-load" style="height:280px"></svg>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <svg id="g-memutil" style="height:280px"></svg>
    </div>
    <div class="span6">
        <svg id="g-cpuutil" style="height:280px"></svg>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Run</th>
                    <th>Duration</th>
                    <th>CPU load</th>
                    <th>Memory utilization</th>
                    <th>CPU utilization</th>
                </tr>
            </thead>
            <tbody>
                {{#runs}}
                <tr>
                    <td><i class="icon-cog"></i> {{name}}</td>
                    <td class="{{duration_class}}">{{duration_label}}</td>
                    <td class="{{cpu_load_class}}">{{cpu_load_label}}</td>
                    <td class="{{used_memory_class}}">{{used_memory_label}}</td>
                    <td class="{{cpu_util_class}}">{{cpu_util_label}}</td>
                </tr>
                {{/runs}}
            </tbody>
        </table>
    </div>
</div>
