.app-good {
    background: #61fa61 !important;
}
.app-bad {
    background: #f85f5f !important;
}
.app-nav {
    padding: 19px 0 !important;
}
h2 .label {
    vertical-align: middle !important;
    font-size: 0.7em;
    position: absolute !important;
    left: 0 !important;
}
h2 {
    position: relative !important;
    text-align: center;
}
.app-a {
    text-align: left !important;
    margin: 0 !important;
    width: 40% !important;
    background: transparent !important;
}
.app-doublelabel {
    text-align: center !important;
    margin: 0 !important;
    width: 20% !important;
    border-left-width: 0 !important;
    background: transparent !important;
}
.app-b {
    text-align: right !important;
    margin: 0 !important;
    width: 40% !important;
    border-left-width: 0 !important;
    background: transparent !important;
}
.app-clickablerow {
    cursor: pointer;
}
