.app-good {
    background: #0f0 !important;
}
.app-bad {
    background: #f00 !important;
}
.app-a {
    text-align: left !important;
}
.app-doublelabel {
    text-align: center !important;
}
.app-b {
    text-align: right !important;
}
.app-clickablerow {
    cursor: pointer;
}
